# History files
.Rhistory
.Rapp.history
.DS_Store

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata
.Rproj.user

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Files created by R markdown
*.html

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/